* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

.navbar {
 min-height: 80px;
  background:#1d6b70;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.task_input {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}
.input {
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  outline: none;
  width: 100%;
}
.btn {
  padding: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 14px;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
}
.delete {
  background-color: rgb(255, 116, 116);
}
.tasks {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 10px;
}
.tasks_list_container {
  width: 100%;
}
.active_btn{
  background: black!important;
  color: white;
}
.task_filter_btns {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}
.filter_btn {
  cursor: pointer;
  padding: 5px 10px;
  background: rgb(206, 198, 206);
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}
.task_list {
  border-radius: 5px;
  list-style: none;
  background-color: rgba(198, 198, 198, 0.326);
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
}
.task {
  font-size: 20px;
}
.edit_task {
  display: flex;
  align-items: center;
  gap: 10px;
}
.options {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: end;
}
.edit {
  background-color: rgb(0, 121, 161);
}

@media screen and (max-width: 800px) {
  .tasks {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 570px) {
  .tasks {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
@media screen and (max-width: 450px) {
  .filter_btn,
  .task_input {
    font-size: 16px;
  }
  .task_input {
    padding: 5px;
    gap: 5px;
  }
}
